<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njnu.dao.ExamMapper">

    <!--List<Exam> getAllQuestionsByPaperId(int paperId);-->
    <select id="getAllQuestionsByPaperId" resultType="cn.edu.njnu.pojo.Exam">
        select * from exam where paper_id = #{paperId}
    </select>

</mapper>